<script language="javascript">
  fields=0;
  function addOption() {
      fields++;
      document.getElementById("text").innerHTML = document.getElementById("text").innerHTML += "option" + fields + ": <input id='option'+fields name='vote[option'+fields+']' size='30' type='text' /><br/>"
              //"option" + fields + ": <input field='text' value='' /><br/>"
  }
  function concatenate() {
  	for(i=1; i<=fields; i++) { 
  		$('#options').val($('#option' + i).val() + ';'); 
  	}
  }
</script>
<h1>New Event</h1>
<%= form_for(@event) do |f| %>
	<div class="field">
		<%=f.label :event %><br/>
		<%=f.text_field :event %>
	</div>

    <div>
      <input type="button" onclick="addOption()" name="add" value="Add new option" />
    </div>


	<div class="action">
		<input name="commit" type="submit" value="create event" onClick="concatenate()"/>
	</div>
	
	<input type="text" id="options" name="vote[options]" />
    <div id="text" />
<% end %>
<%= debug(params) if Rails.env.development? %>