<table>
<tr>
<th>Event</th>
<th></th>
</tr>
<% @events.each do |event| %>
<tr>
<td><%= event.event %></td>
<td><%= link_to 'vote!',
      :controller => 'votes',
      :action => 'vote', 
      :event_id => event.id %></td>
</tr>
<% end %>
</table>